*{
    /* #DBA10D,#23B5DB,#DBA10D,#5523DB,#DB6B02 */
    margin: 0%;
    padding: 0%;
    text-align: center;
}
body{

     /* background-color: #23B5DB;  */
    border: 1px 1px 1px white;
}
header.menu{
    background-color: #fecb00;
}
nav{
    Display :flex;
    largura : automático;
    background-color:#23B5DB ;
    padding-bottom: 0%;
}
main{
    border-radius: 1%;
    background-color: white;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.24);
    margin: auto;
    margin-bottom: .4%;
}
article{
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.24);
    width: 10vw;
    width: 20vh;
    margin: 2%;
    display: inline-block;
}

figure{
    background-color: white;
}
footer{
    background-color: white;
    padding: 5%;
}
