*{
    margin: 0%;
    padding: 0%;
    text-align: center;
}
body{
    background-color: black;
    height: 100%vh;
    border: 1px 1px 1px white;
}
header.menu{
    background-color: #fecb00;
}
article{
    width: 30%;
    height: 30%;
}
header img{
    margin-bottom: -.2%;
}