@font-face {
    font-family: franchise;
    src: local(franchise), url(C:/Users/casa/Music/site_loja/fontes/franchise.ttf);
  }
    /* #DBA10D,#23B5DB,#DBA10D,#5523DB,#DB6B02 */
 
h1.nome{
    font-style: italic;
    font-family: 'franchise', 'Arial Narrow', Arial, sans-serif;
    color: red;
     font-size: 110px;    /*tamanho android */
    font-style: italic;
    
}
h3.jargao{
    display: inline-block;
    margin: auto;
    font-size: 25px;
    font-style: italic;
}
h4{
    position: relative;
    display: inline-block;
    font-style: italic;
    font-size: 20px;
    padding: 4%;
}

.menu_horizontal{
    list-style-type: none;
    width: 100%;
    padding-left: 4%;
    position: relative;
    float: left;
    
}
.menu_horizontal li a{
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
}
.menu_horizontal li{
    float: left;
    background-color: white;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.24);
    border: 1px solid rgba(0, 0, 0, 0.308);
    text-align: center;
    padding: .3% 2% .3% 2%;
    
}
.menu_horizontal a{
    color: blue;
}
.menu_horizontal a:hover  {
    background-color: #23B5DB;
    color:white;
}
figcaption{
   
    background-color: #23b6db70;
    text-align: center;
    height: 30px;
}
