header h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    font-size: 80px;
    width: 100%;
    left: 36%;
    padding-top: 0%;
    padding-bottom: 3%;
    display: inline-block;
    text-shadow: 5px 5px 1px crimson;
    color: rgba(0, 0, 255, 0.692);
}
.menu_horizontal a{
    text-decoration: none;
}
.menu_horizontal{
    float: left;  /* float ul e li */
    list-style-type: none;
    background-color: rgb(81, 255, 0);
    width: 100%;
    

}
.menu_horizontal li{
    display: block;
    float: left;
    background-color: bisque;
    padding: 1%;
    margin: .4%;

}